/**
* app-core.css
* 
* Any changes required for Prso Theme Core are added here,
* These are Core chagnges only, required to fix bugs, or reset the theme
*
* NOTE:: Add theme specific css to your child theme's app.css
* 
* @author	Ben Moody
*/


/**** Gravity Forms - Adjust any gforms dom elements to meet foundation style */

span.gform_description {
	display: block;
	line-height: 1.6;
    margin-bottom: 17px;
}

.gform_wrapper li {
	list-style: none;
}

/* Hide input counter */
.ginput_counter {
	display: none;
}

/* Validation */
.gfield_required,
.gfield_error label {
	color: #C60F13;
}

.gfield_error input {
	background-color: rgba(198, 15, 19, 0.1);
    border-color: #C60F13;
}


/**** Footer */

/* Hide 'flyout' menu items in footer menu */
.footer-links ul.flyout {
	display: none;
}